*{
    padding: 0;
    margin: 0;
}

body{
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main{
    border: 2px solid;
    width: 800px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    background-color: gray;
    border-radius: 20px;
    padding: 0px 10px;

}
.main button{
    padding: 10px;
    font-size: 20px;
    background-color: lightgray;
    border: 2px solid;
    border-radius: 10px;
    transition: all ease 0.1s;
}
.main button:hover{
    background-color: gray;
    transform: scale(1.02);
}
.main button:active{
    background-color: lightgray;
    transform: scale(1);
}

.inside{
    width: 700px;
    height: 700px;
    border: 2px solid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: rgb(170, 146, 146);

}

.content{ 
border: 2px solid;
align-items: center;
justify-content: center;
font-size: 100px;
display: flex;  
position: relative;
}

.content::after{
    content: "";
    position: absolute;
    inset: 0; /*shortcut for top, right, buttom, left all setting to 0, content will stretch to all angel*/
    backface-visibility: hidden; /*hides the back of the content*/
    background-color: gray;
    transition: transform 0.6s;
}

.boxOpen::after{
    transform: rotateY(180deg);

}

.res{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    gap: 30px;
    padding: 10px;
    overflow: hidden;
    width: 100%;


}

.modal{
    position: absolute;
    inset: 0;
    background-color: rgba(77, 70, 70, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    height: 400px;
    width: 500px;
    background-color: rgb(219, 161, 161);
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.modal-content p{
    font-size: 70px;
}

.modal-content button{
    padding: 10px;
    font-size: 20px;
    border: 2px solid;
    border-radius: 10px;
    transition: all ease 0.03s;
    background-color: rgb(172, 135, 135);
}

.modal-content button:hover{
    transform: scale(1.03);
    background-color: rgb(149, 115, 115);
}

.modal-content button:active{
    transform: scale(1);
    background-color: rgb(172, 135, 135);
}

